@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*:not([class*="icon"]) {
  font-family: 'Radio Canada', sans-serif !important;
}

#root,
body {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.logo-link {
  width: 128px;
  height: 32px;
}

h1, .fui-Title1 {
  font-family: 'Noto Sans' !important;
  font-weight: 200 !important;
  font-size: 3rem !important;
  line-height: 4rem !important;
}

.user-menu {
  & .user-menu-avatar {
    margin-right: 1rem;
  }
}

.login {
  background-size: cover;
  background-position: center;
}

.logo-link {
  margin-left: 1rem;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}