@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

#root,
body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  max-width: 1200px;
}

header {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  line-height: 24px;
  padding: 24px;
  line-height: 40px;

  .menu {
    & > a.logo-link {
      width: 160px;
      max-width: 160px;
      min-width: 160px;
      height: 40px;
      margin-right: 1rem;
      display: block;
    }
  }
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.menuContainer {
  height: 40px;

  a:not(:last-child) {
    margin-right: 1rem;
  }
}
